    <h1>Navbar</h1>
    
    <ul>
      <li>
        <a href="/">pindah home</a>
      </li>
      <li>
        <a href="/about">pindah about</a>
      </li>
      <li>
        <a href="/contact">pindah contact</a>
      </li>
    </ul>